#body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    background-color: #f4f4f4;
    margin:0;
    padding:0;

}

.app-container{
    max-width: 700px;
    margin: 40px auto;
    padding: 20px;
    background-color: antiquewhite;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

/* forms  */

form{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 30px;
    padding-top: 20px;
    border-top: 2px solid #ddd;
    max-width: 60%;
}

form label{
    font-weight: bold;
    margin-bottom: 4px;
}

form input, form select{
    padding: 5px;
    font-size: 12px;
    border: 1px xolid #ccc;
    border-radius: 4px;

}

form button{
    padding: 10px;
    font-size : 16px;
    background-color : #9baec2;
    color: white;
    border:none;
    cursor: pointer
}

form button:hover{
    background-color: #0056b3;
    box-shadow: 0 4px 12px rgba(0,0,0,0.5);

}

/* HEADER */
h1{
    text-align: center;
    padding-bottom: 20px;
    font-size: 42px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #5c3a2b;
}

/* each jobs  */
.job-list{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;    
}

.job-card {
  background-color: #fafafa;
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 12px;
  margin-bottom: 20px;
  max-width: 45%;
  box-shadow: 0 4px 12px rgba(117, 88, 88, 0.5);
  

}
.job-card h2 {
 font-size: 16px;
 color: #974e2f;
}

.job-card h3 {
    margin: 0 0 10px 0;
    font-size: 13px;
    color: #5e7997;
}


.job-card p {
  margin: 6px 0;
  font-size: 15px;
  line-height: 1.4;
}

.job-card button {
  margin-right: 10px;
  margin-top: 10px;
  padding: 8px 12px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}